.header__logo {
  max-width: 142px;
  margin-bottom: 41px;
}

/* @media (max-width: 700px) {
  .header__logo{
    margin-top: 27px;
  }
} */

@media (max-width: 400px) {
  .header__logo {
    max-width: 103.74px;
    margin: 27px 0 31.6px 27px;
  }
}

