.place__like-button {
  padding: 0;
  border: none;
  background-color: rgba(254, 254, 254, 0);
  width: 22px;
  height: 19px;
  background-image: url("../../../images/likeIcon.svg");
  background-repeat: no-repeat;
  background-size: 22px 19px;
  align-self: center;
  opacity: 1;
  cursor: pointer;
  transition: opacity 1s ease;
  margin-bottom: 3px;
}

.place__like-button:hover {
  opacity: 0.5;
}
