.auth__login {
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 15px;
  text-decoration: none;
  align-self: center;
}

@media (max-width: 400px){
  .auth__login{
    padding-top: 20px;
  }
}

